# Configurações PostgreSQL (Ambiente Local/Docker)
DB_HOST=db
DB_PORT=5432
DB_NAME=licitacoes
DB_USER=postgres
DB_PASSWORD=postgres

# APIs de Captura
PNCP_API_URL=https://pncp.gov.br/api/consulta/v1/contratacoes/publicacao
COMPRASGOV_API_URL=http://compras.dados.gov.br/licitacoes/v1/licitacoes.json
