# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.env

# Temporary files
.tmp/
tmp/
*.log

# Mac
.DS_Store

# Editor
.vscode/
.idea/

web/node_modules
web/.next
